
body{background-color: #32465A;}

#titulo{width: 500px; text-align: center; margin: 10px auto;} 

#titulo2{width: 500px; text-align: center; margin: 10px auto;}

#contacto{text-align: center;}

#wapsa{margin-left: 430px;}

#gmail{margin-left: 530px; margin-top: -50px;}

#banner{margin-left: 250px; margin-top: 20px;}